<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.2/tailwind.min.css"> -->
  <link rel="stylesheet" href="dist/output.css">
  <%- include('title') %>
</head>

<body>
  <%- include('header') %>
    <div class="bg-white">
      <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Customers also purchased</h2>

        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
          <% if (products==undefined) { %>
            <p>loading...</p>

            <% }else{ %>
              <% for( let index=0; index < products.length; index++ ) { %>
                <h1>
                  <div class="group relative">
                    <div
                      class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                      <img src="
                              <%= products[index].images[0] %>
                              " alt="Front of Basic Tee in black."
                        class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                    </div>
                    <div class="mt-4 flex justify-between">
                      <div>
                        <h3 class="text-sm text-gray-700">
                          <a href='
                                  <%= ' /products/'+ products[index].id %>
                            '>
                            <span aria-hidden="true" class="absolute inset-0"></span>

                            <%= products[index].title %>
                          </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">
                          <%= products[index].category %>
                        </p>
                      </div>
                      <p class="text-sm font-medium text-gray-900">
                        $ <%= products[index].price %>
                      </p>
                    </div>
                  </div>

                </h1>
                <% } %>
                  <% } %>
                    <% if (categories==undefined) { %>
                      <p>loading ...</p>
                      <% } else{%>

                        <% for( let index=0; index < categories.length; index++ ) { %>
                          <p>
                            <%= categories[index] %>
                          </p>
                          <% } %>
                            <% } %>
                              <!-- More products... -->
        </div>
      </div>
    </div>
</body>

</html>